<html>
	<head>
		{% load staticfiles %}

		<link href="{% static 'data/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'data/css/custom.css' %}" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,700,900|Cabin:400,600,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class = "container" style = "margin-left: 50px; margin-right: 50px; width: auto; min-width: 1000px; max-width: 1500px;">
			<div class="row-fluid">
				<div class="tab-content">
					<h1>TimeMachine for {{call}}</h1>
					<div class = "span6" id = "notRight">
						<div style = "max-height: 100%; overflow-y: scroll;">					
							<h2>Snapshots</h2>
							{% for snapshot in snapshots %}							
								<b>{{snapshot.date}}</b>
								<br>
								<b>Call: </b>{{snapshot.call}}
								<br>
								<b>Project: </b>{{snapshot.project}}
								<br>
								<b>Agent: </b>{{snapshot.agent}}
								<br>
								<b>Tags: </b><br>{{snapshot.tags}}
								<br>
								<b>Phases: </b><br>{{snapshot.phases}}
								<br>
								<b>Chars: </b><br>{{snapshot.chars}}		
								<br><br><br>
								<hr class = 'symbol'>
							{% endfor %}						
						</div>
					</div>
					<div class = "span5"  id = "phaseSpan">
						<div style = "max-height: 100%; overflow-y: scroll;">					
							<h2>Current data</h2>
							<b>{{data.created_date}}</b>
							<br>
							<b>Call: </b>{{data.call}}
							<br>
							<b>Project: </b>{{data.project}}
							<br>
							<b>Agent: </b>{{data.agent}}
							<br>
							<b>Tags: </b><br>{{data.tags}}
							<br>
							<b>Phases: </b><br>{{data.phases}}
							<br>
							<b>Chars: </b><br>{{data.chars}}		
							<br><br><br>
							<hr class = 'symbol'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
