<head>
	{% load staticfiles %}

	<title>AMA1 Form Data Entry</title>
	<link href="{% static 'data/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'data/css/custom.css' %}" rel="stylesheet" />

	<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,700,900|Cabin:400,600,700' rel='stylesheet' type='text/css'>

	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
	<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> 

	<meta name="author" content="Datanautix">

	<script type="text/javascript"> 
		$(function(){
			$(".dateinput").datepicker();
		});

		$(document).ready(function() {
			$("#has_existing_id").find('input').attr('readonly','readonly');

			$("body").on('click', '#submitButton', saveData);

			loadForm();
		});		

		function saveData(event) {
			$.ajax({
				type: "POST",
				url: $('.form-area').attr( 'action' ),
				data: $('.form-area').serialize(),
				complete: function( response ) {
					alert(JSON.stringify(response));
				}
			});

			return false;
		}

		function loadForm() {
			$.ajax({
				type: "GET",
				url: "/data/AMA1/new",
				complete: function( response ) {
					alert(JSON.stringify(response));
					$("#currentForm").html(response['responseText'])
				}
			});
		}

		function loadData(id) {
			$.ajax({
				type: "GET",
				url: "/data/AMA1/" + id,
				complete: function( response ) {
					alert(JSON.stringify(response));
					$("#currentForm").html(response['responseText'])
				}
			});
		}
	</script>
</head>
<body>
	<div class = "row-fluid" style = "width: 95%;">
		<div class = "span4 left-pane">
			{% for current in list %}
				<div class = "list-element" onclick = "loadData({{current.id}})">
					Hey, click here
				</div>
			{% endfor %}

		</div>
		<div class = "span8">
			<input type="submit" value="Ready to go? Submit and save" class = "submitButton btn btn-large btn-primary" id = "submitButton"/>

			<div id = "currentForm">
			</div>
		</div>
	</div>
</body>

