<head>
	{% load staticfiles %}

	<title>AMA1 Form Data Entry</title>

	<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,700,900|Cabin:400,600,700' rel='stylesheet' type='text/css'>

	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
	<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>

	<link href="{% static 'data/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'data/css/custom.css' %}" rel="stylesheet" />
	<link href="{% static 'data/css/jquery.pnotify.default.css' %}" media = "all" rel="stylesheet" />
	<link href="{% static 'data/css/jquery.pnotify.default.icons.css' %}" media = "all" rel="stylesheet" />
	<script type = "text/javascript" src="{% static 'data/js/jquery.pnotify.min.js' %}"></script>		 

	<meta name="author" content="Datanautix">

	<script type="text/javascript"> 
		$(function(){
			$(".dateinput").datepicker();
		});	

		$(document).ready(function() {
			$("#has_existing_id").find('input').attr('readonly','readonly');

			$("body").on('click', '#submitButton', saveData);		
			$("body").on('click', '#createButton', loadForm);		

			loadList();
			loadForm();
		});		

		var scrollPosition;
		var notice;

		function showLoading() {
			hideNotification();
			
		}

		function showSaved() {
			hideNotification();
			
			setTimeout(function(){hideNotification()},1000);
		}

		function hideNotification() {
		
		}

		function saveData(event) {
			showLoading();
			$.ajax({
				type: "POST",
				url: $('.form-area').attr( 'action' ),
				data: $('.form-area').serialize(),
				complete: function( response ) {	
					hideNotification();				

					if(response['responseText'] != "Updated") //if it's new
					{
						//save scroll position
						scrollPosition = $(".form-area").scrollTop();

						//then refresh
						loadData(response['responseText']);			
					}
					loadList();
					setTimeout(function(){showSaved()},1000);
				}
			});

			return false;
		}

		function loadList() {
			$.ajax({
				type: "GET",
				url: "/data/AMA1/list",
				complete: function( response ) {
					$(".left-pane").html(response['responseText'])
				}
			});
		}
				
		function loadForm(event) {
			showLoading();
			$.ajax({
				type: "GET",
				url: "/data/AMA1/new",
				complete: function( response ) {
					$("#currentForm").html(response['responseText']);
					hideNotification();
				}
			});
		}

		function loadData(id) {
			showLoading();
			$.ajax({
				type: "GET",
				url: "/data/AMA1/" + id,
				complete: function( response ) {
					$("#currentForm").html(response['responseText']);
					hideNotification();

					//reset scroll position
					$(".form-area").scrollTop(scrollPosition);
					scrollPosition = 0;
				}
			});
		}
	</script>
</head>
<body>
	<div class = "custom-alert loading">
		
			Hey, check this out
		
	</div>

	<div class = "row-fluid" style = "width: 95%;">
		<div class = "span2 left-pane">
			

		</div>
		<div class = "span10">
			<button type="create" value="" class = "createButton btn btn-large btn-primary" id = "createButton">
				<img src = "{% static 'data/img/new.ico' %}" style = "height: 30px; margin-right: 15px;"/>
				Create a new form
			</button>

			<button type="submit" value="" class = "submitButton btn btn-large btn-success pull-right" id = "submitButton">
				<img src = "{% static 'data/img/save.ico' %}" style = "height: 30px; margin-right: 15px;"/>
				Ready to go? Submit and save
			</button>

			<div id = "currentForm">
			</div>
		</div>
	</div>
</body>

