<head>
	{% load staticfiles %}

	<title>AMA1 Form Data Entry</title>
	<link href="{% static 'data/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'data/css/custom.css' %}" rel="stylesheet" />
	<script type = "text/javascript" src="{% static 'data/js/spin.js' %}"></script>

	<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,700,900|Cabin:400,600,700' rel='stylesheet' type='text/css'>

	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
	<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> 

	<meta name="author" content="Datanautix">

	<script type="text/javascript"> 
		$(function(){
			$(".dateinput").datepicker();
		});

		//spinner options
		var opts = {
		  lines: 13, // The number of lines to draw
		  length: 50, // The length of each line
		  width: 10, // The line thickness
		  radius: 50, // The radius of the inner circle
		  corners: 1, // Corner roundness (0..1)
		  rotate: 0, // The rotation offset
		  direction: 1, // 1: clockwise, -1: counterclockwise
		  color: '#34495e', // #rgb or #rrggbb or array of colors
		  speed: 1, // Rounds per second
		  trail: 60, // Afterglow percentage
		  shadow: true, // Whether to render a shadow
		  hwaccel: false, // Whether to use hardware acceleration
		  className: 'spinner', // The CSS class to assign to the spinner
		  zIndex: 2e9, // The z-index (defaults to 2000000000)
		  top: 'auto', // Top position relative to parent in px
		  left: 'auto' // Left position relative to parent in px
		};

		$(document).ready(function() {
			$("#has_existing_id").find('input').attr('readonly','readonly');

			$("body").on('click', '#submitButton', saveData);

			loadList();
			loadForm();
		});		

		function saveData(event) {
			$.ajax({
				type: "POST",
				url: $('.form-area').attr( 'action' ),
				data: $('.form-area').serialize(),
				complete: function( response ) {					
					loadList();
				}
			});

			return false;
		}

		function loadList() {
			var listSpinner = new Spinner(opts).spin($(".left-pane"));
			$.ajax({
				type: "GET",
				url: "/data/AMA1/list",
				complete: function( response ) {
					$(".left-pane").html(response['responseText'])
				}
			});
		}
		
		var formSpinner = new Spinner(opts).spin($("#currentForm"));
		
		function loadForm() {
			$.ajax({
				type: "GET",
				url: "/data/AMA1/new",
				complete: function( response ) {
					$("#currentForm").html(response['responseText'])
				}
			});
		}

		function loadData(id) {
			$.ajax({
				type: "GET",
				url: "/data/AMA1/" + id,
				complete: function( response ) {
					$("#currentForm").html(response['responseText'])
				}
			});
		}
	</script>
</head>
<body>
	<div class = "row-fluid" style = "width: 95%;">
		<div class = "span2 left-pane">
			

		</div>
		<div class = "span10">
			<input type="submit" value="Ready to go? Submit and save" class = "submitButton btn btn-large btn-primary" id = "submitButton"/>

			<div id = "currentForm">
			</div>
		</div>
	</div>
</body>

