body{
	font-family:'Lato';	
	background-color: rgba(173,216,230, 0.5);
	background: url("../img/low_contrast_linen.png") repeat fixed;	

}

.form-area {
    margin: 20px;
	background: url("../img/paper_fibers.png") repeat fixed;	
}

textarea {
    border: none;
    width: 96%;
    height: 96%;
    margin: auto;
    display: block;
    resize: none; 
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

td {
    display: block;
    height: 50px; /* this is just so it inherits tr height*/
    padding: 5px;
}

tr {
    height: 50px;
}