body{
	font-family:'Lato';	
	background-color: #bdc3c7;
	background: url("../img/low_contrast_linen.png") repeat fixed;

}

.left-pane {
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    padding: 10px;

    background: url("../img/paper_fibers.png") repeat fixed;
}

.form-area {
    width: 100%;
    height: 80%;   

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    

    overflow-y: scroll;

    padding: 10px;    

    border-radius: 5px;

	background: url("../img/paper_fibers.png") repeat fixed;	
}

textarea {
    border: none;
    width: 96%;
    height: 96%;
    margin: auto;
    display: block;
    resize: none; 
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

select {    
    width: 96%;    
    margin: auto;
    display: block;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

td {
    display: block;
    height: 50px; /* this is just so it inherits tr height*/
    padding: 5px;
}

tr {
    height: 50px;
}

.has_existing_id {
    display: none !important;
}

.submitButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    width: 80%;

}

.list-element {
    width: 100%;
    height: 30px;
}

